
# OS X
*.DS_STORE

# perltidy backups
*.bak

# vim temp files
*.swp

# etc-quack generate copies
*.orig

# dev lib
/inc/

## dzil build files
#/Dist-Zilla-PluginBundle-Author-FERREIRA-*.tar.gz
#/Dist-Zilla-PluginBundle-Author-FERREIRA-*/
